<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <meta name="robots" content="noindex, nofollow" />
  <meta name="description" content="This Website use to make to-do list for their productivity ">
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" href="img/favicon.ico" type="image/todo-icon" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">

</head>
