body{
    position: relative;
    margin: 0;
    padding: 0;
}
.nav{
position: absolute;
width: 100%;
height: 94px;
left: 0px;
top: 0px;
z-index: 10;
background: #FFFFFF;
box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.07);
}
.logo{
position: absolute;
width: 165px;
height: 50px;
left: 82px;
top: 23.67px;

}
.nav-item{
    position: relative;
left: 954px;
top: 40px;

margin-left: 30px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: inline-block;
text-transform: capitalize;
text-decoration: none;
color: #222222;
}
.login-btn{
    position: absolute;
width: 110.28px;
height: 34px;
left: 1244px;
top: 33px;

border: 2px solid #0CB4DC;
box-sizing: border-box;
border-radius: 45px;


font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

text-transform: capitalize;
background-color: #FFFFFF;
color: #0CB4DC;

}
.header{
    position: absolute;
    width: 100%;
    height: 828px;
    left: 0px;
    top: 0px;    
    background: #F3F3F3;
}
.text-box{
position: absolute;
width: 665px;
height: 342px;
left: 164px;
top: 228px;
}
.heading{
    margin: 10px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;    
    text-transform: capitalize;
    
    color: #222222;
    
}
.pera{   
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
  
    text-transform: capitalize;
    
    color: #222222;
}
.register-btn{
position: absolute;
width: 224px;
height: 48px;
left: 164px;
top: 522px;
background: #0CB4DC;
box-shadow: 0px 11px 26px rgba(0, 0, 0, 0.23);
border-radius: 45px;
border: none;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

text-transform: capitalize;

color: rgba(255, 255, 255, 0.85);

}
.phone{
position: absolute;
width: 270px;
height: 525px;
left: 954px;
top: 225px;

filter: drop-shadow(0px 11px 26px rgba(0, 0, 0, 0.23));

}
.simple-section{
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 828px;
    display: inline-block;
    
}
.simple-section-img{
    position: absolute;
    width: 437px;
    height: 579.2px;
    left: 164px;
    top: 150px;
/* box-shadow: 0px 11px 26px rgba(0, 0, 0, 0.23);
border-radius: 20px; */
}
.text-box2{
    position: absolute;
width: 571px;
height: 290.63px;
left: 671px;
top: 250px;

}.heading2{   
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    text-transform: capitalize;
    
    color: #222222;
}.pera2{
    

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
/* or 125% */


letter-spacing: 0.02em;
text-transform: capitalize;

color: #222222;
}
.calender-section{
    position: absolute;
width: 100%;
height: 800px;
left: 0px;
top: 1628px;

background: #F3F3F3;
}
.text-box3{
    position: absolute;
width: 571px;
height: 290.63px;
left: 172px;
top: 250px;

}
.heading3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    color: #222222;
    
}
.pera3{ 

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
/* or 125% */

letter-spacing: 0.02em;
text-transform: capitalize;

color: #222222;

}
.calender{
    position: absolute;
width: 437px;
height: 579.2px;
left: 805px;
top: 150px;
    filter: drop-shadow(0px 11px 26px rgba(0, 0, 0, 0.23));
    border-radius: 20px;
}

.text-box4{
position: absolute;
height: 200px;
left: 18%;
top: 2428px;
background: #FFFFFF;
}.heading4{
    width: 918px;
height: 56px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
}.pera4{
    width: 914px;
height: 101px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    color: #000000;
    

}.device-canvas{
    position: absolute;
width: 100%;
height: 995px;
top: 2670px;
}
.img{
    background-image: url("../img/device_canvas.png");
    padding-bottom: 94%;
    background-size: auto 100%;
    background-position: 35% center;
    padding-bottom: 66.17%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}