<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
  </head>
  <body>
    <h2><%=kindOfDay%></h2>
    <ul>

      <% for (var i = 0; i < item.length; i++) { %>
        <li><%=item[i]%></li>
    <%  } %>

    </ul>
    <form action="/" method="post">
      <input type="text" name="newItem">
      <button type="button" name="submit"></button>
    </form>

  </body>
</html>
